.container {
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.button-container {
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.button {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}

.search-container {
  margin-bottom: 30px;
}